{% extends 'base.html' %}
{% block title %}
Add question
{% endblock title %}
{% block content %}

<main class="min-h-screen">
    <div class="pt-44 lg:pt-28 pb-8 flex ">
        <div class="w-full ">
            <div>
                <h1 class="text-2xl mx-10 lg:mx-44 mb-4 text-slate-700">Add Questions</h1>
            </div>
            <div class="mx-12 lg:mx-56">
                <form action="addquestion" method="get">
                    <label for="username" class="text-lg text-slate-700">Username <span
                            class="text-red-600">*</span></label>
                    <input type="text" name="username" id="username" required placeholder="  Type Username" class="block 
                    rounded border-slate-700 border px-2 w-full h-12">

                    <label for="question" class="text-lg text-slate-700">Question <span
                            class="text-red-600">*</span></label>
                    <input type="text" name="question" id="question" required placeholder="  Type the question here"
                        class="block 
                        rounded border-slate-700 border px-2 w-full h-12">

                    <label for="answer" class="text-lg text-slate-700">Answer <span
                            class="text-red-600">*</span></label>
                    <input type="text" name="answer" id="answer" required placeholder="  Type the answer here"
                        class="block rounded border-slate-700 border px-2 w-full h-12">

                    <label for="keywords" class="text-lg text-slate-700">Keywords <span
                            class="text-red-600">*</span></label>
                    <input type="text" name="keywords" id="keywords" required
                        placeholder="  Type important keywords related to question"
                        class="block rounded border-slate-700 border px-2 w-full h-12">

                    <label for="university" class="text-lg text-slate-700">University <span
                            class="text-red-600">*</span></label>
                    <input list="universities" name="university" id="university" required
                        placeholder="  University in which the qustion is asked" class="block 
                        rounded border-slate-700 border px-2 w-full h-12">
                    <datalist id="universities" class="">
                        <option value="University of Calicut">
                        <option value="MG university" class="w-full">
                        <option value="Annamalei univerity" class="w-full">
                        <option value="bharathiyar" class="w-full">
                    </datalist>

                    <label for="department" class="text-lg text-slate-700">Department <span
                            class="text-red-600">*</span></label>
                    <select name="department" id="department" required
                        class="px-4 form-select mySelect block rounded border-slate-700 border  w-full h-12">
                        <option class="text-xl" selected="selected">Select Deaprtment</option>
                        <option class="text-xl" value="computer_science">Bsc. computer science</option>
                        <option class="text-xl" value="computer_science">Bsc. computer science</option>
                        <option class="text-xl" value="computer_science">Bsc. computer science</option>
                        <option class="text-xl" value="computer_science">Bsc. computer science</option>
                    </select>

                    <label for="subject" class="text-lg text-slate-700">Subject <span
                            class="text-red-600">*</span></label>
                    <select name="subject" id="subject" required
                        class="px-4 form-select mySelect block rounded border-slate-700 border  w-full h-12">
                        <option class="text-xl" selected="selected">Select Subject</option>
                        <option class="text-xl" value="computer_science">computer science</option>
                    </select>

                    <div class="lg:flex justify-between">
                        <div class="mr-5 w-full">
                            <label for="year" class="text-lg text-slate-700">Year <span
                                    class="text-red-600">*</span></label>
                            <input type="number" name="year" id="year" required
                                placeholder="  Year the question is asked" min="2000" max="2023"
                                class="block rounded border-slate-700 border px-2 w-full h-12">
                        </div>
                        <div class=" mb-2 w-full">
                            <label for="question" class="text-lg text-slate-700">Times asked </label>
                            <input type="number" name="question" id="question" placeholder="  How many times asked"
                                class="block rounded border-slate-700 border px-2 w-full h-12">
                        </div>
                    </div>

                    <label for="comment" class="text-lg text-slate-700">Comment</label>
                    <input type="text" name="comment" id="comment" placeholder="  any comment regarding the question"
                        class="block rounded border-slate-700 border px-2 w-full h-12 mb-2">



                    <input type="checkbox" name="important" id="">
                    <label for="important">This question important</label><br>
                    <input type="checkbox" name="terms" id="terms" required> I Agree this question was asked on
                    mentioned date <br><br>
                    <input type="submit" value="Submit" id="submit"
                        class="text-white lg:w-2/5 w-36 h-10 bg-slate-700 rounded">
                    <input type="reset" class="text-white w-36 lg:w-2/5 h-10 bg-slate-700 rounded">
                </form>
            </div>
        </div>
        <div></div>
    </div>
    <div></div>
</main>
{% endblock %}