{% extends 'base.html' %}
{% load static %}

{% block title %}
Question bank
{% endblock title %}
{% block content %}

<div class="md:flex md:align-middle md:justify-center h-screen w-full  md:items-center ">
    <div class="bg-slate-50 md:px-96 md:py-12 shadow-2xl">
        <h6 class="text-xl">Your Question has been submitted for verification and will be verifiewd in 24 hrs</h6>
        <br>
        <a href="/" class="text-blue-800 underline">return to homepage</a>
    </div>
</div>

{% endblock %}