{% extends 'base.html' %}
{% block title %}
temperory
{% endblock title %}


{% block content %}
<main class="lg:px-28 md:py-24 lg:py-32 px-10 py-6 min-h-screen">
    <div class="rounded shadow-xl mb-10 mt-5  bg-gray-100">
        <form action="" method="post">
            <div class="hover:bg-slate-200 rounded-t-md">
                <input list="universitys" name="university" id="university" placeholder="select university"
                    class="w-full h-12 px-5">
                <datalist id="universitys" class="w-full">
                    <option value="calicut university">
                    <option value="annamalai" class="w-full">
                    <option value="tirunalveli" class="w-full">
                    <option value="bharathiyar" class="w-full">
                </datalist>
            </div>
        </form>
        <div class="w-full bg-slate-200 px-9 py-4 my-5" title="Click on the question to view the answer">
            <details class="list-none cursor-pointer ">
                <summary class="list-none mb-2">
                    <span class="font-medium">1.</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Sunt, repudiandae. <span class="font-medium">(march 2019)</span>
                </summary>
                <p><span class="font-medium">A.</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Pariatur deleniti, nihil in nesciunt
                    fuga impedit assumenda earum nulla quod reiciendis officia itaque mollitia ut rerum natus
                    voluptate hic numquam, suscipit minus commodi adipisci aliquam perspiciatis fugit. Quibusdam
                    nostrum quas dolore voluptates? Ratione reiciendis fugiat est explicabo commodi. Beatae, error
                    fugit.</p>
            </details>
        </div>
    </div>
</main>
{% endblock %}