{% extends 'base.html'%}

{% block head %}

{% endblock head %}

{% block content %}
<style>
	.help-block{
        display: block;
        font-size: 1rem;
        color: rgb(158, 40, 40);
        margin-top: 4px;
    }
</style>
<div class="min-h-screen pt-28 p-7">
    <div class="">
		<h2 class="text-3xl mb-5 font-semibold text-slate-800">Reset Your Password</h2>     
		<h5 class="text-xl mb-5 font-semibold text-slate-800">Enter Your New Password</h5>     
		{% load crispy_forms_tags %}
		<form method="Post"> 
			{% csrf_token %}
		    {{form|crispy}}
	       	<br/>
		    <button type="submit" class=" p-2 rounded bg-red-600 text-white">Change Password</button> 
		</form>
	</div>
	<div class="col-md-4">
    </div>
</div>
{% endblock content %}
