{% extends 'base.html'%}

{% block head %}

{% endblock head %}

{% block content %}

{% load crispy_forms_tags %}
<div class="min-h-screen pt-24">
	<div class="row">
		<div class="p-5">
			<h2 class="text-2xl font-semibold mb-4">Password Reset Form</h2>
			<hr />
			<form method="Post"> {% csrf_token %}
				{{form|crispy}}
				<br />
				<button type="submit" class=" p-2 rounded bg-red-600 text-white">Reset Password</button>
			</form>
			<div class="">
			</div>
		</div>
	</div>
</div>
	{% endblock content %}