{% extends 'base.html'%}

{% block head %}

{% endblock head %}

{% block content %}
<div class="min-h-screen pt-28 p-7">
  <div class="">
    <div class="" role="">
      <h4 class="text-xl mb-2 font-semibold text-slate-700">Well done!</h4>
      <h1 class="text-2xl mb-2 text-green-900 font-semibold">Password Reset Complete</h1>
      <p class="font-semibold text-slate-800 mb-5">Your password has been reset successfully. You can now login with your new password.</p>
      <a class="p-2 rounded bg-slate-600 hover:bg-slate-700 px-4 text-white" href="{% url 'login' %}">Login!</a>
    </div>
  </div>
</div>

{% endblock content %}