{% extends 'base.html'%}

{% block head %}

{% endblock head %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<style>
    .invalid-feedback{
        display: block;
        font-size: 1rem;
        color: rgb(158, 40, 40);
    }
    .help-block{
        display: block;
        font-size: 1rem;
        color: rgb(158, 40, 40);
        margin-top: 4px;
    }
</style>

<div class="w-full min-h-screen bg-gray-50 flex flex-col justify-center items-center pt-24 sm:pt-24">
    {% if messages %}
    {% for mess in messages %}
    <div class="alert border-red-700 border-2 p-3  bg-red-100 mx-1  alert-{{mess.tags}}" role="alert">
        {{mess}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="w-full sm:max-w-md p-5 mx-auto">
        {% if otp %}
        <h2 class="mb-12 text-center text-5xl text-slate-700 font-extrabold">Login.</h2>
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="usr" value="{{usr.username}}">
            <div class="mb-4">
                <label class="block mb-1" for="verify">Enter Your OTP</label>
                <input id="email" type="text" name="otp"
                    class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
            </div>
            <div class="mt-6">
                <button type="submit"
                    class="w-full inline-flex items-center justify-center px-4 py-2 bg-slate-600 transition ease-in-out duration-300 hover:bg-slate-700 border border-transparent rounded-md font-semibold capitalize text-white active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 ">Verify</button>
            </div>
        </form>
        {% else %}
        <h2 class="mb-12 text-center text-slate-700 text-5xl font-extrabold">Register.</h2>
        <form method="post">
            {% csrf_token %}

            <div class="mb-4">
                <label class="block mb-1" for="email">Full-name</label>
                <input id="id_name" type="text" name="name" autofocus required
                    class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
            </div>
            <div class="mb-4">
                <label class="block mb-1" for="email">Email-Address</label>
                <input id="id_email" type="text" name="username" required
                    class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
            </div>
            <div class="mb-4">
                <label class="block mb-1" for="email">Mobile</label>
                <input id="" type="number" name="phone" required
                    class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
            </div>
            <div class="mb-4">
                <label class="block mb-1" for="email">University</label>
                <input id="" type="text" name="university" required
                    class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
            </div>
            <div class="mb-4">
                <label class="block mb-1" for="email">College</label>
                <input id="" type="text" name="college" required
                    class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
            </div>
            <div class="mb-4">
                <label class="block mb-1" for="email">Designation</label>
                <input id="" type="text" name="designation" required
                    class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
            </div>
            <div class="mb-4">
                <!-- <label class="block mb-1" for="password">Password</label> -->
                <!-- <input id="id_password1" autocomplete="new-password" required type="password" name="password1"
                    class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" /> -->
                    {{ form.password1|as_crispy_field }}
            </div>
            <div class="mb-4">
                <!-- <label class="block mb-1" for="password">Confirm Password</label> -->
                <!-- <input id="id_password2" type="password" name="password2" required
                    class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" /> -->
                    {{ form.password2|as_crispy_field }}
            </div>
            <div class="mt-6">
                <button type="submit"
                    class="w-full inline-flex items-center justify-center px-4 py-2 bg-slate-600 transition ease-in-out duration-300 hover:bg-slate-700 border border-transparent rounded-md font-semibold capitalize text-white active:bg-green-700 focus:outline-none disabled:opacity-25 ">Sign
                    Up</button>
            </div>
            <div class="mt-6 text-center">
                Already have an account?
                <a href="{% url 'login' %}" class="underline">Login</a>
            </div>
        </form>



        {% endif %}
    </div>
</div>
{% endblock content %}