/* forms */


.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}

.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}


a.like, a.follow { float:right; margin-top:-8px; }


