<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body class="">
    <div class="m-0 p-0">
        <div class="px-16 py-5 border-b-2 w-full shadow-lg">
            <nav class="flex mx-8 justify-between">
                <div class="">
                    <h1 class="text-2xl font-bold text-slate-700">
                        <a class="" href="/">Question bank</a>
                    </h1>
                </div>
                <ul class="flex text-lg text-slate-700 ">
                    <li class="mx-8 pt-1">
                        <a href="#"><span>Add Question</span></a>
                    </li>
                    <li class="mx-8 pt-1">
                        <a href="#"><span>Feedback</span></a>
                    </li>
                    <li class="mx-8 pt-1">
                        <a href="#"><span>About</span></a>
                    </li>
                </ul>
                <div class="">
                    <ul class="flex pt-1">
                        <li><input type="text" class="border-2 rounded-md" placeholder="search"></li>
                        <li><input type="submit" class="border bg-slate-600 text-white w-20 mr-2 rounded font-semibold" value="Search"></li>
                        <li><button class="font-bold text-slate-700 ml-6">Sign Up! </button></li>
                    </ul>
                </div>
            </nav>
        </div>  <!-- end nav -->

        <main>

        </main>


    </div>
</body>
</html>